@import url("https://fonts.googleapis.com/css2?family=Finlandica&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"); */
/* base styles */
* {
  margin: 0;
  font-family: "Finlandica", sans-serif;
  /* font-family: "Bebas Neue", cursive; */
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  max-height: 400px;
  margin: 0 auto;
  border-bottom: 2px solid #2c2b2b;
}
.navbar h1 {
  color: #7d24b8;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 20px;
  text-decoration: wavy;
  padding: 4px;
}
.navbar a:hover {
  color: #7d24b8;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog preview */
.blog-title {
  color: rgb(84, 16, 219);
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #494444;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #7d24b8;
  margin-bottom: 8px;
}
.blog-preview a{
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #7d24b8;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #7d24b8;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}


/* create new blog form */

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #7d24b8;
  margin-bottom: 30px;
}

.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: #7d24b8;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}